/* Header */

.wrapper {
    margin: auto;
    max-width: 1300px;

    
}

.header {
    display: none;
  }

.header-top{
    background-color: #f72110;
}
.header button {
    color: #fff;
    font-weight: 500;
}



.arrow {
    
    font-size: 1rem;
}
    
svg {
    fill: #fff;
}

.login {
    background-color: #f72110;
    color: #fff;
    
}
.sm-screen {
    background-color: #f72110 !important;
    position: absolute;
    z-index: 10;
    width: 100%;
    border: 1px solid none;
}


.sm-screen-logo {
    width: 100px;
    background-color: #f72110;
}

/* @media only screen and (min-width: 992px) {
    .header {
      display: block;
    }
    
  } */

/* End Header */
.one {
    background-color: darkkhaki;
}
.two {
    background-color: peachpuff;
}

article {
    background-color: darkcyan;
    height: 300px;
    width: 100%;
    border: 1px solid black;

}
aside {
    background-color: pink;
    height: 300px;
}
