
/* Header */

.wrapper {
    margin: auto;
    max-width: 1300px;

    
}

.header {
    display: none;
  }

.header-top{
    background-color: #f72110;
}
.header button {
    color: #fff;
    font-weight: 500;
}



.arrow {
    
    font-size: 1rem;
}
    
svg {
    fill: #fff;
}

.login {
    background-color: #f72110;
    color: #fff;
    
}
.sm-screen {
    background-color: #f72110 !important;
    position: absolute;
    z-index: 10;
    width: 100%;
    border: 1px solid none;
}


.sm-screen-logo {
    width: 100px;
    background-color: #f72110;
}

.one {
    background-color: darkkhaki;
}
.two {
    background-color: peachpuff;
}
body {
  
    
}

img {
  width: 100%;
}

.first-col {
  width: 100%;
}

.second-col {
  width: 100%;
}
.third-col {
  width: 100%;
}
