* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  background-color: #eee;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
}

/* .img-full img {
  width: 100%;
} */

#search {
  width: 80px;
  outline: none;
  border: none;
  background-color: transparent;
}

.brand-svg {
  fill: #fff;
  width: 132px;
  height: 20px;
}

.active {
  color: #000;
}

.red-color {
  color: #f72210;
}

.red-bg {
  background-color: #f72210;
}

.blue-color {
  color: #3581f4;
}

.grayish-bg {
  background-color: #c2d4d7;
}

/* == Misc == */
.double-border,
.vs-badge {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img.media-size {
  width: 95px;
  height: auto;
}

.n-icon {
  background-image: url(./images/logo-n1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f72210;
  width: 29px;
  height: 28px;
}

/* == Hovers == */
.nav-hover a:hover {
  text-decoration: none;
  color: #f72210;
}

/* === Header == */
header {
  font-size: 13px;
  max-width: 100vw;
  background-color: #fff;
}

.top-header-nav {
  padding: 0.5rem 1rem 0.7rem;
  background-color: #f72210;
  color: #fff;
}

.top-header-right-item button {
  margin-left: 0.5rem;
  border: none;
  color: #eee;
  background-color: inherit;
}

button.subscribe {
  background-color: #ffe400;
  color: #000;
  font-size: 11px;
  border-radius: 24px;
  padding: 0.2rem 0.6rem;
}

h1.brand {
  margin: 0;
  font-size: 1.5rem;
}

.login-icon {
  font-size: 18px;
}

/* == featured-stories == */
main,
section {
  background-color: #fff;
}

.news-image-frame {
  position: relative;
}

.news-category {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-category,
.news-title {
  font-size: 1.15rem;
}

.news-title-2 {
  font-size: 0.98rem;
}

/* -- debate-content -- */
.debate-content {
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  position: relative;
}

.double-border {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

/* === Media for Small devices === */
@media screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .survery-container {
    width: 50%;
  }

  .flex-base-25 {
    flex-basis: 25%;
  }

  .news-letter-bg-img {
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
  }
}

/* === Media for Medium devices === */
@media screen and (min-width: 992px) {
  img {
    max-width: 100%;
  }

  /* == Header == */
  .brand-svg {
    width: 396px;
    height: 60px;
  }

  button.subscribe {
    font-size: 16px;
  }

  /* -- middle-header-nav -- */
  .middle-header-nav {
    position: relative;
  }

  .middle-header-nav::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 80px;
    height: 0;
    border-top: 12px solid #f72210;
    border-left: 12px solid transparent;
  }

  .middle-header-nav li,
  .bottom-header-nav li {
    padding: 0 0.65rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }

  .middle-header-nav li:not(:first-child):not(:last-child) {
    border-left: 1px solid #ccc;
  }

  .middle-header-nav a {
    display: inline-block;
  }

  .bottom-header-nav {
    font-size: 14px;
    padding: 0 1.5rem;
  }

  .survery-container {
    width: 100%;
  }
}

/* === Media for Large devices === */
@media screen and (min-width: 1200px) {
  header {
    font-size: 17px;
  }

  .top-header-nav {
    padding-top: 1rem;
  }

  button.subscribe {
    font-size: 18px;
  }

  .middle-header-nav {
    font-size: 17px;
  }

  .middle-header-nav li {
    padding: 0 1rem;
  }
}

/* subscribe and newsletter */
.mag-pile {
  position: relative;
}

.top-img {
  position: absolute;
  left: 100px;
  top: 15px;
}

.subscribe-bg-img {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center center / cover no-repeat;
}

.fab {
  font-size: 1.5rem;
  display: block;
}

.fab:hover {
  color: #3581f4 !important;
  cursor: pointer;
}

.cta-wrapper {
  width: 100%;
  height: 80%;
  background-color: #f4f5f6;
  padding: 2rem;
}
/* Footer */
.footer-svg {
  fill: #f72210;
  width: 290px;
}
